.drawer-content{
    overflow-y: visible !important;
}

.drawer{
    height: fit-content;
    min-height: 100vh !important;
}

.drawer-side{
    height: 100%;
    /* min-height: inherit; */
    /* min-height: initial; */
    /* min-height: revert; */
    /* min-height: revert-layer; */
    min-height: fit-content(20em);
}